<h1 class="text-3xl font-bold mb-4">Welcome to Bookies!</h1>

<h2 class="text-3xl font-bold mb-6 ">All Posts</h2>
<ul class="space-y-6">
  <% @posts.each do |post| %>
    <li>
      <div class="p-6 border border-pink-300 rounded-xl shadow-md bg-white">
        
        <p class="font-bold text-xl mb-1 text-gray-800"><%= post.title %></p>

        <p class="text-gray-700 text-lg mb-3"><%= post.body %></p>
        
        <p class="text-sm text-gray-500 border-b pb-3 mb-3">
          <span class="font-semibold">Posted by </span><%= post.user.username %>
          <span class="font-semibold">for:</span> <%= link_to post.book.title, book_path(post.book), class: "text-pink-600 hover:underline" %>
        </p>

        <div class="flex items-center justify-between mt-2">

          <div class="flex items-center space-x-4">
            
            <% if current_user %>
              <% like = current_user.likes.find_by(likeable: post) %>
              
              <% if like %>
                <%= button_to "Unlike", book_post_like_path(post.book, post, like), method: :delete, class: "text-pink-400 hover:text-pink-500 font-semibold cursor-pointer" %>
              <% else %>
                <%= button_to "Like", book_post_likes_path(post.book, post), method: :post, class: "text-pink-600 hover:text-pink-800 font-semibold cursor-pointer" %>
              <% end %>
            <% end %>

            <span class="text-sm font-medium text-pink-600"><%= post.likes.count %> Likes</span>
          </div>

          <% if current_user.present? && (current_user == post.user || current_user.admin?) %>
            <%= button_to "Delete Post", book_post_path(post.book, post), method: :delete, data: { confirm: "Are you sure?" }, class: "text-pink-400 hover:text-pink-500 font-semibold" %>
          <% end %>
          
        </div>
      </div>
    </li>
  <% end %>
</ul>

<h2 class="text-3xl font-bold my-6 border-t pt-6 ">All Reviews</h2>
<ul class="space-y-6">
  <% @reviews.each do |review| %>
    <li>
      <div class="p-6 border border-pink-300 rounded-xl shadow-md bg-white">
        <p class="font-bold text-xl mb-1 text-gray-800">
          "<%= review.title %>"
          <span class="text-yellow-500 ml-2">
            <% review.rating.times do %>
              &#9733;
            <% end %>
          </span>
        </p>

        <p class="text-gray-700 text-lg mb-3 italic">
          <%= review.body %>
        </p>
        
        <p class="text-sm text-gray-500 border-b pb-3 mb-3">
            <span class="font-semibold">Reviewed by</span> <%= review.user.username %>
            <span class="font-semibold">for:</span> <%= link_to review.book.title, book_path(review.book), class: "text-pink-600 hover:underline" %>
        </p>

        <div class="flex items-center justify-between mt-2">

          <div class="flex items-center space-x-4">
            
            <% if current_user %>
              <% like = current_user.likes.find_by(likeable: review) %>
              
              <% if like %>
                  <%= button_to "Unlike", book_review_like_path(review.book, review, like), method: :delete, class: "text-pink-400 hover:text-pink-500 font-semibold cursor-pointer" %>
              <% else %>
                  <%= button_to "Like", book_review_likes_path(review.book, review), method: :post, class: "text-pink-600 hover:text-pink-800 font-semibold cursor-pointer" %>
              <% end %>
            <% end %>

            <span class="text-sm font-medium text-pink-600"><%= review.likes.count %> Likes</span>
          </div>

          <% if current_user.present? && (current_user == review.user || current_user.admin?) %>
              <%= button_to "Delete Review", book_review_path(review.book, review), method: :delete, data: { confirm: "Are you sure?" }, class: "text-pink-400 hover:text-pink-500 font-semibold" %>
          <% end %>

        </div>
      </div>
    </li>
  <% end %>
</ul>