<div class="container mx-auto p-8">
  <h1 class="text-3xl font-bold mb-6">My Books</h1>

  <div class="space-y-4">
    <% @books.each do |book| %>
      <div class="p-4 border rounded-md shadow-sm flex items-center justify-between">
        <div class="flex-grow">
          <h2 class="text-xl font-semibold"><%= link_to book.title, book_path(book) %></h2>
          <p class="text-gray-600">by <%= book.authors %></p>
        </div>
        <div class="flex space-x-2 items-center">
        <%= link_to "Write a Review", new_book_review_path(book), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded text-sm" %>
        <%= link_to "New Post", new_book_post_path(book), class: "bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-3 rounded text-sm" %>
        <span class="text-sm font-semibold text-gray-700">
          <span class="font-normal text-gray-500"></span> <%= book.label %>
        </span>
      </div>
      </div> <% end %>
  </div>
</div>